version: "3.8"

services:
  user:
    build:
      context: .
      dockerfile: service/user/Dockerfile
    image: "${ECR_NAME:-local}/user-domain:${TAG:-latest}"
    ports:
      - "8081:8080"
    depends_on:
      local-db:
        condition: service_healthy
      local-redis:
        condition: service_started
      # kafka1, 2, 3 의존성 삭제 (외부 EC2 사용하므로)
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://local-db:5432/ecommerce
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres

  cart:
    build:
      context: .
      dockerfile: service/cart/Dockerfile
    image: "${ECR_NAME:-local}/cart-domain:${TAG:-latest}"
    ports:
      - "8082:8080"
    depends_on:
      local-db:
        condition: service_healthy
      local-redis:
        condition: service_started
    environment:
      # EC2 Kafka 주소
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - SERVER_PORT=8080
      - DB_HOST=local-db
      - DB_PORT=5432
      - DB_NAME=ecommerce
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres

  order:
    build:
      context: .
      dockerfile: service/order/Dockerfile
    image: "${ECR_NAME:-local}/order-domain:${TAG:-latest}"
    ports:
      - "8083:8080"
    depends_on:
      local-db:
        condition: service_healthy
      local-redis:
        condition: service_started
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - SERVER_PORT=8080
      - DB_HOST=local-db
      - DB_PORT=5432
      - DB_NAME=ecommerce
        - DB_USERNAME=postgres
        - DB_PASSWORD=postgres

  payment:
    build:
      context: .
      dockerfile: service/payment/Dockerfile
    image: "${ECR_NAME:-local}/payment-domain:${TAG:-latest}"
    ports:
      - "8084:8080"
    depends_on:
      local-db:
        condition: service_healthy
      local-redis:
        condition: service_started
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - SERVER_PORT=8080
      - DB_HOST=local-db
      - DB_PORT=5432
      - DB_NAME=ecommerce
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres

  product:
    build:
      context: .
      dockerfile: service/product/Dockerfile
    image: "${ECR_NAME:-local}/product-domain:${TAG:-latest}"
    ports:
      - "8085:8080"
    depends_on:
      local-db:
        condition: service_healthy
      local-redis:
        condition: service_started
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - KAFKA_BOOTSTRAP_SERVERS=3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      - SERVER_PORT=8080
      - DB_HOST=local-db
      - DB_PORT=5432
      - DB_NAME=ecommerce
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres

  # 1) PostgreSQL
  local-db:
    image: postgres:15-alpine
    container_name: local-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


  # 2) Redis
  local-redis:
    image: redis:alpine
    container_name: local-redis
    ports:
      - "6379:6379"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: ec2-kafka-cluster
      # EC2의 퍼블릭 IP 주소들 입력
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 3.34.5.9:9094,43.201.111.33:9094,3.34.48.116:9094
      DYNAMIC_CONFIG_ENABLED: true