#version: "3.8"

services:
  user:
    build:
      context: .
      dockerfile: service/user/Dockerfile
    #image: "${ECR_NAME}/user-domain:${TAG}"
    image: "${ECR_NAME:-local}/user-domain:${TAG:-latest}"
    ports:
      - "8081:8080"
    depends_on:
      - local-db
      - local-redis
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=10.0.20.101:9092,10.0.20.35:9092,10.0.21.159:9092

  cart:
    build:
      context: .
      dockerfile: service/cart/Dockerfile
    #image: "${ECR_NAME}/cart-domain:${TAG}"
    image: "${ECR_NAME:-local}/cart-domain:${TAG:-latest}"
    ports:
      - "8082:8080"
    depends_on:
      - local-db
      - local-redis
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=10.0.20.101:9092,10.0.20.35:9092,10.0.21.159:9092

  order:
    build:
      context: .
      dockerfile: service/order/Dockerfile
    #image: "${ECR_NAME}/order-domain:${TAG}"
    image: "${ECR_NAME:-local}/order-domain:${TAG:-latest}"
    ports:
      - "8083:8080"
    depends_on:
      - local-db
      - local-redis
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=10.0.20.101:9092,10.0.20.35:9092,10.0.21.159:9092

  payment:
    build:
      context: .
      dockerfile: service/payment/Dockerfile
    #image: "${ECR_NAME}/payment-domain:${TAG}"
    image: "${ECR_NAME:-local}/payment-domain:${TAG:-latest}"
    ports:
      - "8084:8080"
    depends_on:
      - local-db
      - local-redis
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=10.0.20.101:9092,10.0.20.35:9092,10.0.21.159:9092

  product:
    build:
      context: .
      dockerfile: service/product/Dockerfile
    #image: "${ECR_NAME}/product-domain:${TAG}"
    image: "${ECR_NAME:-local}/product-domain:${TAG:-latest}"
    ports:
      - "8085:8080"
    depends_on:
      - local-db
      - local-redis
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=10.0.20.101:9092,10.0.20.35:9092,10.0.21.159:9092

# services:
   # 1. PostgreSQL 설정
  local-db:
   image: postgres:15-alpine
   container_name: local-db
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: postgres
     POSTGRES_DB: ecommerce

  # 2. Redis 설정
  local-redis:
   image: redis:alpine
   container_name: local-redis
   ports:
     - "6379:6379"

 